{% extends "layouts/base.twig" %}

{% block style %}
    <link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}

{% block main %}
    <h2>Liste des livres</h2>
    <div>
        <p>ici la liste des livres apres</p>
    </div>
{% endblock %}